// ---------------------------------
// SETTINGS
// ---------------------------------

$site-width: 80%
$site-max-width: 1000px

$easing1: cubic-bezier(0.645, 0.045, 0.355, 1.000)

/*
 * JAC Facit
 * https://typekit.com/fonts/jaf-facitweb
 *
 * Light:	"jaf-facitweb-1", "jaf-facitweb-2", 300,	normal/italic
 * Bold:	"jaf-facitweb-1", "jaf-facitweb-2", 700,	normal/italic
 */

$bodystack: "jaf-facitweb-1", "jaf-facitweb-2", sans-serif
$headingstack: "jaf-facitweb-1", "jaf-facitweb-2", sans-serif



// ---------------------------------
// COLORS
// ---------------------------------

$white: #fefefe
$black: #444
$gray: #666
$lightgray: #BBB
$orange: darken(orange, 6%)
$red: #C00
$blue: #09A
$green: #61A03F