// ---------------------------------
// COLORS
// ---------------------------------

$white: #fefefe
$black: #444
$gray: #666

$orange: darken(orange, 6%)



// ---------------------------------
// REUSABLE CLASSES
// ---------------------------------

.unstyled,
.unstyled li
	margin: 0
	padding: 0
	list-style: none

.listleft,
.listright
	overflow: hidden
	
	li
		float: left
