// ---------------------------------
// Media queries
// ---------------------------------

$small: 480px
$medium: 768px
$large: 900px
$huge: 1300px


@media screen and (min-width: $small)
	.small-left
		float: left
	.small-right
		float: right


@media screen and (min-width: $medium)
	article
		margin: 0
		width: 50%
		float: left

		div
			padding: 1vw 3vw

		p
			font-size: 14px
			padding: 0 3vw

	header
		h1
			width: 50%
			float: left

	.main-nav
		li
			float: none
			margin: 0

	.medium-left
		float: left
	.medium-right
		float: right

@media screen and (min-width: $large)
	article
		p
			font-size: 16px

	.large-left
		float: left
	.large-right
		float: right

@media screen and (min-width: $huge)
	.huge-right
		float: right
	.huge-left
		float: left
