@import normalize-opentype

html
	color: $black

	font-size: 16px
	font-family: $bodystack
	font-weight: 300
	font-style: normal
	line-height: 1.55

	font-variant-ligatures: common-ligatures

h1,
h2,
h3,
h4,
h5,
h6
	font-weight: 300
	margin-bottom: 10px

	a
		color: inherit
		font-weight: inherit

a
	color: $orange
	text-decoration: none

	white-space: nowrap

	h2,
	span,
	p,
	strong,
	em,
	div,
	ul
		white-space: normal

	border-bottom: 1px solid transparent

	+trans(.2)


	&:focus,
	&:hover,
	&:active,
	&.active
		color: darken($orange, 5%)
		border-bottom: 1px solid

p
	word-break: break-word
	hyphens: auto

strong
	font-weight: 600

img
	max-width: 100%
	vertical-align: bottom

::selection
	color: white
	background: rgba($orange, .95)


header
	h1
		line-height: 1.2

		sub
			color: $gray
			font-weight: normal

	span
		white-space: nowrap

nav
	font-size: 18px

article
	text-align: center

	h2
		color: white
		font-size: 26px
		font-weight: 600
		// text-transform: uppercase
		text-shadow: 0 0 10px rgba(black, 0.8), 1px 1px 0 #444

	a
		font-weight: normal


	div
		text-shadow: 1px 1px 0 #444

	p
		font-size: 15px
		color: white

	ul,
	ul.unstyled
		color: $white
		font-size: 14px
		font-weight: 600

.lowercase
	text-transform: lowercase

menu
	font-size: 30px

	a
		color: white
		border: 0
		text-align: center
		line-height: 1

		&:focus,
		&:hover,
		&:active
			border: 0

.work
	.post-tags
		font-size: 14px
		font-weight: 600

.link-social
	$link-social-color: #444

	color: $link-social-color
	font-size: 14px
	border: 1px solid $link-social-color
	position: relative
	display: inline-block
	padding: 5px 8px 5px 44px
	margin-right: 5px

	span
		line-height: 1
		display: block
		position: absolute
		top: 0
		left: 0
		bottom: 0
		width: 36px
		background: $link-social-color

		transition: all .3s ease

	b
		font-weight: normal
		position: relative
		z-index: 2

	svg
		position: relative
		left: 8px
		top: 5px
		width: 20px
		height: 20px
		display: inline-block
		vertical-align: bottom

	&:focus,
	&:hover,
	&:active
		color: white
		border-color: $link-social-color
		padding-left: 40px
		padding-right: 12px

		span
			width: 100%
