.animate-wrap
	width: 100%
	height: 100%
	position: relative
	-webkit-transform: translateX(0)
	transform: translateX(0)
	transition: .3s ease all

	&.active
		-webkit-transform: translateX(-100%)
		transform: translateX(-100%)
		background: $black

section
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 100%
	background: $black

	&.active
		z-index: 99


menu
	position: absolute
	top: 0
	left: 100%
	z-index: 99
	margin: 0
	padding: 15px
	background: darken($black, 3%)
	width: 100%

	a
		color: white
		text-decoration: none