// ---------------------------------
// Imports before code
// ---------------------------------

@import normalize, base, type


// ---------------------------------
// Main code
// ---------------------------------

*,
*:before,
*:after
	box-sizing: border-box

html
	min-width: 480px
	background: $white
	font-size: 18px

html,
body
	overflow-x: hidden
	// height: 100%

main
	overflow: hidden
	padding: 5vw 0

.everything
	width: $site-width
	max-width: $site-max-width
	margin: auto
	padding-bottom: 50px
	overflow: hidden

header
	margin-top: 5vw
	overflow: hidden

	h1
		sub
			bottom: 0
		a,
		a:focus,
		a:hover,
		a:active
			color: inherit
			border: 0

	p
		clear: both


article
	overflow: hidden

	a
		position: relative
		display: block
		border: 0

		&:focus,
		&:hover,
		&:active
			border: 0

			div
				z-index: 9
				-webkit-transform: translateX(0)
				transform: translateX(0)

			ul
				opacity: 1
				transition: .3s .4s opacity ease-out

			img
				-webkit-transform: translateX(5%)
				transform: translateX(5%)

	p
		font-size: 14px
		color: white

	div
		padding: 20px

		background: black
		background: rgba(black, .85)

		position: absolute
		left: 0
		bottom: 0
		top: 0

		-webkit-transform: translateX(-101%)
		transform: translateX(-101%)
		transition: .3s all ease-out

	h2
		margin: 0

	ul,
	ul.unstyled
		color: $white
		font-size: 13px
		font-weight: bold

		opacity: 0
		transition: .2s opacity ease-out

	img
		width: 100%
		transition: all .25s  ease-out

.post-tags
	li
		margin-left: 15px
		position: relative

		&:before
			color: $orange
			line-height: 1
			content: "*"
			display: inline-block
			position: absolute
			top: 4px
			left: -10px

		&:first-child
			margin-left: 0

			&:before
				display: none

footer
	color: lighten($black, 20%)
	font-size: 14px
	text-align: right
	padding-top: 20px
	margin-top: 20px

	p
		clear: both
		padding-top: 5px



// ---------------------------------
// Imports after main CSS
// ---------------------------------

@import work, media

