@import "variables",
        "mixins",
        "normalize";

/// Example media query:

$font-stack: "jaf-facitweb-1", "jaf-facitweb-2", sans-serif;
$color: tomato;

// cornflowerblue
// darkseagreen
// crimson
// darkcyan
// darkorange
// darksalmon

html {
  color: #444;
  font-size: 18px;
  line-height: 1.45;
  font-family: $font-stack;
}

body {
  padding-top: 8%;
  padding-bottom: 8%;
  padding-top: 8vw;
  padding-bottom: 8vw;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.1em;

  a {
  }
}

small,
time {
  color: gray;
}

h1 {
  small {
    font-weight: 300;
    font-style: italic;
    display: block;
  }

  a {
    color: inherit;
  }
}

h2 {
  font-size: 2em;
}

a {
  color: $color;
  text-decoration: none;
  display: inline-block;
  border-bottom: 0.1em solid transparent;

  &:hover,
  &:focus,
  &:active {
    border-color: initial;
  }
}

section {
  max-width: 40em;
  width: 80%;
  margin: 0 auto;
}

.jdm-intro {
  p {
    color: grey;
    font-size: 16px;
  }
}


article {
  margin: 2em 0;
}
