@import "variables",
        "mixins",
        "normalize";

/// Example media query:

$font-stack: "jaf-facitweb-1", "jaf-facitweb-2", sans-serif;
$color-alpha: cornflowerblue;
$color-delta: royalblue;
$color-alpha-dark: darken($color-alpha, 20%);
$color-delta-dark: darken($color-delta, 20%);

// $color: cornflowerblue
// $color: darkseagreen
// $color: crimson
// $color: darkcyan
// $color: darkorange
// $color: darksalmon

html {
  color: #444;
  font-size: 18px;
  line-height: 1.45;
  font-family: $font-stack;
}

body {
  padding-top: 8%;
  padding-bottom: 8%;
  padding-top: 8vw;
  padding-bottom: 8vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.25em;

  a {
    border: none;
  }
}

small,
time {
  color: gray;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-style: italic;
  font-weight: 400;
}

a {
  color: $color-alpha;
  text-decoration: none;
  border-bottom: 1px solid;

  @include hocus {
    color: $color-delta;
  }
}

header,
main {
  max-width: 40em;
  width: 80%;
  margin: 0 auto;
}

article header {
  width: auto;
  max-width: none;
  margin: 0;
}

.jdm-intro {
  p {
    color: grey;
    font-size: 14px;
  }
}

.jdm-logo {
  display: block;

  a {
    color: inherit;
    border: 0;
  }

  small {
    display: block;
    font-weight: normal;
    font-style: italic;
  }
}

article {
  margin: 2em 0;
}
