<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Design and code by Jelmer de Maat">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }} | Design and code | Jelmer de Maat</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script type="text/javascript" src="//use.typekit.net/pec8lcm.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="title-{{ page.navtitle }} layout-{{ page.layout }}">
	<!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div class="animate-wrap cf">

		<div class="everything cf">

			<header>
				<h1><a href="index.htm">Design and code</a><br><sub>Jelmer de Maat</sub></h1>
				<nav>
					<ul class="unstyled listleft">
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</nav>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut <a href="#">labore</a> et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. </p>
				</header>

				<main>