<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Design and code by Jelmer de Maat. An inventor of physical and digital stuff. These are my works of design and code.">
	<meta name="google-site-verification" content="Kpk3PnL4Dq-r9xBm1qNz8o_TlPIs2Fjg2SC5vwgGMps" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script type="text/javascript" src="//use.typekit.net/pec8lcm.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="title-{{ page.navtitle }} layout-{{ page.layout }}">

	<!--[if lt IE 8]>
		<div class="browsehappy cf">
			You are using a strongly <strong>outdated</strong> browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a>
			to improve your experience.
		</div>
	<![endif]-->

	<div class="animate-wrap cf">
		<div class="everything cf">
			<header>
				<a href="/"><img src="/images/jelmer.jpeg" alt="Image of my head."></a>
				<h1><a href="/">{{ site.title }}</a><br><sub>Jelmer de Maat</sub></h1>
				<nav class="main-nav medium-right">
					<ul class="unstyled cf">

						{% for weight in (1..5) %}
							{% for p in site.pages %}
								{% if p.weight == weight %}

									<li>
										<a {% if p.url == page.url %} class="active" {% endif %}  href="{{p.url}}">
											{{ p.navtitle }}
										</a>
									</li>

								{% endif %}
							{% endfor %}
						{% endfor %}

					</ul>
				</nav>
				<p>
					I am an inventor of digital and physical stuff. These are my works of design and code,
					made for all kinds of different purposes throughout the past, mostly related to education,
					work and/or fun. I am <a href="https://twitter.com/jelmerdemaat">@jelmerdemaat</a>
					on Twitter, <a href="https://github.com/jelmerdemaat">the same person</a> on GitHub and
					if you whish you can e-mail me at <span>post [at] jelmerdemaat [dot] nl</span>.
			 	</p>
				<ul class="unstyled listleft links-social">
					<li>
						<a class="link-social twitter" href="//twitter.com/jelmerdemaat/">
							<svg><use xlink:href="#icon-social-twitter" /></svg>
							Twitter
						</a>
					</li>
					<li>
						<a class="link-social github" href="//github.com/jelmerdemaat/">
							<svg><use xlink:href="#icon-social-github" /></svg>
							GitHub
						</a>
					</li>
					<li>
						<a class="link-social codepen" href="//codepen.io/jelmerdemaat/popular/">
							<svg><use xlink:href="#icon-social-codepen" /></svg>
							Codepen
						</a>
					</li>
					<li>
						<a class="link-social email" href="mailto:post@jelmerdemaat.nl">
							<svg><use xlink:href="#icon-android-mail" /></svg>
							Email
						</a>
					</li>
				</ul>
			</header>
				<main>